* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /*cambiar medida del rem*/
}

/* para tipografia local tiene que estar en una carpeta en nuestro archivo */
@font-face {
    font-family: "megadeth";
    src: url(../fuentes/megadeth.ttf)
}

/*se puede elegir una fuente desde la wb, en google font*/
body {
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 20px;
    color: white
}

.navegador {
    background-color: black;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.menu li {
    font-family: "megadeth";
    list-style-type: none;
    font-weight: 60px;
    font-style: ;
    text-align: ;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 20px;
}


.fondoimagen {
    display: grid;
    grid-template-areas: none;
    /*background-image: url("../multimedia/guitarras\ modificacion\ joa.jpg");
    background-repeat: repeat;
    background-position: 0lvw;
    background-size: contain;
background-size: cover*;*/
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "megadeth", sans-serif;
    font-weight: 60px;
    color: white;
    margin: 30px;
}

.logo {
    width: 300px;
    margin-left: 20px;
}

.i0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.i0-1 {
    width: 600px;
}

.i1 {
    width: 300px;
    background-color: black;
    margin: 20px;
}

/*.integrantes i1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/

.integrante1 {
    font-size: 20px;
    display: inline-block;
    margin: 1px 80px 1px 80px;
}

.integrante2 {
    font-size: 20px;
    display: inline-block;
    margin: 1px 80px 1px 80px;
}

.integrante3 {
    font-size: 20px;
    display: inline-block;
    margin: 1px 80px 1px 80px;
}

.formulario {
    margin: 60px;
}

.formulario input {
    margin: 20px;
}

footer {
    margin: 50px;
}

.m1 {
    fill-rule: evenodd;
}

.margen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

/*.contenedortotal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr 0.2fr 1fr 0.2fr;
    grid-template-areas: 
    "top menu"
    "fondoimagen fondo imagen"
    "margen margen";
}
.top{
    grid-area: top;
}
.memu{
    grid-area: menu;
}
.fondoimagen{
    grid-area: fondoimagen;
}
.margen{
    grid-area: margen;
}*/
p:hover{
    font-size: px;
    background-color: aquamarine;
}

/*no fueron visitados aun*/
a:link{
    text-decoration: none;
    color: red;
}
/*ya fueron visitados*/
a:visited{
    color: chartreuse;
}
/*cuando el usuario hace click y lo mantiene activo*/
a:active{
    background-color: red;
    color: black;
    font-weight: bolder;
}

/*para formularios*/
input:focus{
    height:  30px;
    background-color: orange;
}
input[type="checkbox"]:checked{
    box-shadow: 0 0 0 3px pink
}

.gracias{ 
    display: none;
}

/*para hacer aparecer algo que oculte*/
inpuy[type="checkbox"]:checked ~ .gracias{
    display: initial;
}   

/*le da fprmato a todos menos al padre*/
div:not(.padre){
    padding-left:40px;
}

.padre div:first-child{
    background-color: blanchedalmond;
    font-weight: bolder;
}
/*pueden ser first o last o usar nth-child(x) para darle estilo a un hijo en especial*/
.padre div:nth-child(2){
    background-color: blanchedalmond;
    font-weight: bolder;
}
/*:nth-child()
pares:even/2n
impares: odd/2n+1*/

