.topgaleria2019 {
    display: grid;
    grid-template-columns: 10%, 90%;
    grid-template-rows: 100%;
    gap: 20px 10px;
    grid-template-areas:
        "item1 item2";
    padding: 10px;
    justify-content: space-around;
    align-items: stretch;

    .item1 {
        grid-area: item1;
        background-position: right;
        justify-items: stretch;

        .galeria {
            font-family: "megadeth";
            list-style-type: none;
            text-decoration: none;
            color: white;
            margin: 1px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 10px;
            width: 100px;
            list-style-type: none;

            .a1 {
                font-size: 30px;
                text-decoration: none;
                color: white;
            }

            .cambioColor {
                color: white;
            }

            .cambioColor:hover {
                color: rgb(189, 116, 8);
            }

        }

    }

    .item2 {
        grid-area: item2;
        transform: translate(-100px);

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: repeat(3, 300px);
            gap: 30px 30px;
            grid-template-areas:
                "3m 13m 15m 21m"
                "phb phb pha pha"
                "phb phb pha pha";
            padding: 50px;
            justify-content: center;
            align-items: stretch;


            .m3 {
                grid-area: 3m;
                background-image: url(../multimedia/2019/3m.jpg);
                background-position: center;
                background-size: cover;
            }

            .m13 {
                grid-area: 13m;
                background-image: url(../multimedia/2019/13m.jpg);
                background-position: center;
                background-size: cover;
            }

            .m15 {
                grid-area: 15m;
                background-image: url(../multimedia/2019/15m.jpg);
                background-position: center;
                background-size: cover;
            }

            .m21 {
                grid-area: 21m;
                background-image: url(../multimedia/2019/21m.jpg);
                background-position: center;
                background-size: cover;
            }


            .pha {
                grid-area: pha;
                background-position: center;
                background-size: cover;
            }

            .phb {
                grid-area: phb;
                background-position: center;
                background-size: cover;
            }
        }
    }
}

/*DISEÑO RESPONSIVE*/

@media only screen and (max-width: 1440px) {
    .topgaleria2019 {
        .item1 {
            font-size: 30px;
        }

        .item2 {
            .grid {
                grid-template-columns: repeat(3, 300px);
                grid-template-rows: repeat(3, 300px);
                gap: 30px 30px;
                grid-template-areas:
                    "3m 13m 15m "
                    "21m pha pha"
                    "phb phb phb";


                padding: 50px;
                justify-content: center;
                align-items: stretch;

            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .topgaleria2019 {
        .item1 {
            transform: translate(20px);
            font-size: 30px;
        }

        .item2 {
            transform: translateX(30px) translateY(-40px);

            .grid {
                grid-template-columns: repeat(3, 250px);
                grid-template-rows: repeat(3, 250px);
                gap: 20px 20px;
                grid-template-areas:
                    "3m 13m 15m "
                    "21m pha pha"
                    "phb phb phb"
                ;

                padding: 50px;
                justify-content: center;
                align-items: stretch;


            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .topgaleria2019 {
        .item1 {

            font-size: 15px;
        }

        .item2 {
            transform: translateX(-20px)translateY(-10px);

            .grid {
                grid-template-columns: repeat(2, 200px);
                grid-template-rows: repeat(4, 200px);
                gap: 30px 30px;
                grid-template-areas:
                    "3m 13m"
                    "15m 21m"
                    "pha pha"
                    "phb phb";

                padding: 20px;
                justify-content: center;
                align-items: stretch;

            }
        }
    }
}



@media only screen and (max-width: 425px) {
    main {
        padding: 10px;

        .hg {
            margin: 0px;
            transform: translate(60px);
        }
    }

    .topgaleria2019 {
        display: flex;
        flex-direction: column;
        transform: translateX(60px);



        .item1 {
            font-size: 8px;
            justify-content: stretch;


            .galeria {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;

                .a1 {
                    font-size: 20px;
                }
            }
        }

        .item2 {
            justify-content: center;
            transform: translate(20px);

            .grid {
                grid-template-columns: repeat(1, 350px);
                grid-template-rows: repeat(7, 350px);
                gap: 30px 30px;
                grid-template-areas:
                    "3m"
                    "13m"
                    "15m"
                    "21m"
                    "pha"
                    "pha"
                    "phb";

                padding: 20px;
                justify-content: center;
                align-items: stretch;

            }
        }
    }
}