.formulario {
    display: grid;
    grid-column: 1;
    justify-content: center;
    font-size: 30px;

    .mensaje {
        width: 500px;
        height: 300px;
    }

    .divmsj {
        display: flex;
        flex-direction: column;
    }

    .input {
        margin: 20px;
    }

    .boton {
        width: 100px;
        height: 50px;
        font-size: 25px;
        border-radius: 10%;
    }


}

/*** DISEÑO RESPONSIVE***/

@media only screen and (max-width: 768px) {
    .formulario {
        margin: 50px;
        padding: 0px;
        font-size: 20px;


        .divmsj {
            display: flex;
            flex-direction: column;
        }

        .input {
            margin: 20px;
        }


    }

}