.discos {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 600px;
    gap: 50px 50px;
    padding: 20px;
    justify-content: center;
    /*transform: translate(50px);*/


    .dd {
        width: 400px;
    }

    .link {
        list-style-type: none;
        /*text-decoration: none;*/
        color: white;
        display: inline-block;
        margin: 20px;
        font-weight: bold;
    }

    .ol {
        align-items: center;
        transform: translate(50px);
    }
}

/***DISEÑO RESPONSIVE ***/

@media only screen and (max-width: 1024px) {
    .discos {
        padding: 0 0 0 20px;
        margin: 0 0 0 20px;
        transform: translate(50px);
    }

}


@media only screen and (max-width: 768px) {
    .discos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .d1 {
            .dd {
                transform: translate(30px);
            }
        }



    }
}

@media only screen and (max-width: 425px) {
    .discos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .d1 {
            .dd {
                transform: translate(-30px);
            }
        }
    }
}