@import "variables";
@import "galeria";
@import "contacto";
@import "videos";
@import "discos";
@import "2018";
@import "2019";
@import "2020";
@import "2021";
@import "2022";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}


@font-face {
    font-family: "megadeth";
    src: url(../fuentes/megadeth.ttf)
}

body {

    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 20px;
    color: white;
    background-color: black;
}



/*MENU*/
header {

    .top {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .logo {
            width: 400px;
            height: 90px;
            margin-left: 20px;
        }
    }


    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;



        li {
            font-family: "megadeth";
            list-style-type: none;
            font-weight: 60px;
            font-size: 30px;
            color: white;
            display: inline-block;
            margin: 20px;

            .li1 {
                text-decoration: none;
                color: white;
            }

            .cambioColor {
                color: white;
            }

            .cambioColor:hover {
                color: rgb(189, 116, 8);
            }
        }
    }
}

hr {
    border-bottom: gray 3px solid;
}

main {
    display: grid;
    grid-template-areas: none;

    h1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: "megadeth", sans-serif;
        font-weight: 60px;
        font-size: 50px;
        color: white;
        margin: 30px;
    }

    p {
        font-size: 30px;
    }
}

.margen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.integrantes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
}

.int {
    display: grid;
    grid-template-columns: 350px;
    justify-items: center;

    .i1 {
        width: 300px;
        background-color: black;
        margin: 20px;
    }
}

.i0 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .i0-1 {
        width: 800px;
    }
}


/* DISEÑO DEL FOOTER */

footer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    margin: 100px;

    h5 {
        display: flex;
        flex-direction: row;
        margin: 0px 20px 0px 0px
    }


    .margen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
    }



    .navegador footer {
        justify-content: start;
    }

}


/*********/

@media only screen and (max-width: 1024px) {

    header {
        justify-content: space-around;

        .top {

            .logo {
                width: 250px;
                height: auto;

            }

            .nav {

                .menu {

                    li {
                        .li1 {
                            font-size: 25px;
                        }
                    }

                }
            }
        }

    }

    hr {
        width: 1070px;
    }

    main {
        display: block;

        h1 {
            width: 100%;
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        .i0 {
            justify-content: center;

            .i0-1 {
                width: 600px;
                height: auto;

            }

        }

        .integrantes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            .int {
                justify-content: center;

                .i1 {
                    width: 100%;
                    height: auto;

                }
            }
        }

    }
}


/*********/

@media only screen and (max-width: 768px) {

    header {

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 70px;


            .logo {
                width: 190px;
                height: 50px;
                margin: 0;
            }

            .nav {
                transform: translateY(-13px);


                .menu {


                    li {
                        margin: 0 5px;
                    }

                    .li1 {
                        font-size: 15px;
                    }
                }
            }
        }
    }



    hr {
        width: 800px;
        border: 1.5px gray solid;
    }

    main {
        display: block;

        h1 {
            width: 100%;
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        .i0 {
            justify-content: center;

            .i0-1 {
                width: 600px;
                height: auto;

            }

        }

        .integrantes {
            display: flex;
            flex-direction: column;


            .int {
                justify-content: center;

                .i1 {
                    width: 100%;
                    height: auto;

                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        margin: 50px;
        justify-content: space-between;

        h5 {
            display: flex;
            flex-direction: row;

            .espacio {
                width: 100%;
            }
        }
    }

}

/*********/

@media only screen and (max-width: 425px) {

    header {
        transform: translate(60px);
        .top {

            .nav {
                justify-content: stretch;
                flex-wrap: wrap;

                .menu {
                    li {
                        .li1 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }


    hr {
        width: 570px;
        border: 1.5px gray solid;
    }

    main {
        
        h1 {
            width: 100%;
            font-size: 25px;
            transform: translate(30px);

        }

        p {
            font-size: 15px;
            transform: translate(60px);
        }

        .i0 {
            transform: translate(60px);

            .i0-1 {
                width: 600px;
                height: auto;


            }

        }

        .integrantes {
            display: flex;
            flex-direction: column;
            transform: translate(60px);


            .int {
                justify-content: center;

                .i1 {
                    width: 100%;
                    height: auto;

                }
            }
        }
    }

}